/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 1px solid blue; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  div {
    display: block;
  }
/*--共用區塊--*/
.ff-1{
  font: normal normal 300 24px/36px PingFang TC;
}
.ff-2 {
  font: normal normal medium 24px/36px PingFang TC;
  font-weight: bold;
}
.ff-3{
  font: normal normal 300 24px/36px PingFang TC;
  font-weight: bold;
}
.p-16{
  padding: 16px 0;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-16-24{
  margin-top: 16px;
  margin-bottom: 24px;
}
.pb-32 {
  padding-bottom: 32px;
}
.tw{
  font: normal normal 300 24px/36px PingFang TC;
  color:#fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.sub-title h2{
  font-weight: bold;
  font-size: 32px;
  font: normal normal medium 32px/48px PingFang TC;
  border-bottom: 1px solid #000000;
  padding-bottom: 16px;
}
.sub-title h2 span{
  padding-left: 12px;
  color: #A00404;
  font: normal normal 600 24px/29px SF Pro Text;
}
.full-title h2{
  text-align: center;
  font-size: 32px;
  font: normal normal medium 32px/45px PingFang TC;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-top: 24px;
  padding-bottom: 8px;
}
.full-title span{
  padding-left: 16px;
  font: normal normal 600 24px/29px SF Pro Text;
}
.block-two{
  background-color: #415165;
}
/*--區塊1--*/
.profile h1{
  font: normal normal normal 80px/95px SF Pro Text;
  border-bottom: 2px solid #000;
  padding-top: 40px;
  padding-bottom: 24px;
}
.profile img{
  padding: 48px 0;
}
/*--區塊2--*/
.profile-list{
  margin-bottom: 64px;
}
/*--區塊3--*/
.education {
  margin-bottom: 72px;
}
/*--區塊4--*/
.skill {
  font: normal normal 300 24px/36px SF Pro Text;
  color:#fff;
  padding: 0 102px;
  text-align: center;
  padding-bottom: 52px;
  margin-bottom: 80px;
}
.skill-list {
  text-align: left;
  display: inline-block;
  border-left: 1px solid #96a9c4;
}
.skill h2 {
  margin-bottom: 40px;
}
.skill-list li {
  padding-bottom: 20px;
  padding-left: 24px;
}
/*--區塊5--*/
.work-list{
  text-align-last: left;
  margin-top: 16px;
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #96a9c4;
  font: normal normal 300 20px/30px PingFang TC;
}
.work-list img {
  width: 89px;
}
.work-list h3{
  padding-bottom: 8px;
}
.intern img{
  width: 72px;
}
.intern p{
  font: normal normal 300 20px/30px PingFang TC;
}
/*--區塊6--*/
.footer {
  margin-top: 40px;
  text-align: center;
}
.footer-list{
  padding-top: 32px;
}
.footer-list li {
  padding-bottom: 16px;
}
.footer-list li a {
  text-decoration: none;
  color:#fff;
}
.icon li {
  margin: auto;
  display:inline-block;
}
.icon li img{
  padding: 0px 24px;
  padding-top: 4px;
  padding-bottom: 48px;
  width: 48px;
  background-color: #415165;
}