/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 1px solid blue; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  div {
    display: block;
  }
  .line {
    border-top: 1px solid #ffffff;
    width: 996px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px; 
  }
  /*外容器*/
  .wrap {
      max-width: 1920px;
      margin: 0 auto;
  }
  /*藍色區塊*/
  .skills, .contact {
    text-align: center;
    background-color: #415165 ;
    font: normal normal Roboto;
    padding: 34px 0 36px 0;
    color: #FFFFFF;
  }
  /*--文字段落共用--*/
  .info h2, .edu h2, .work h2{
    font-size: 32px;
    color: #000000;
    text-align: left;
    font: normal normal normal 32px/43px Noto Sans;
    }

  .infoContent p, .eduContent p{
    font-size: 24px;
    line-height: 1.5rem;
    text-align: left;
    font: normal normal normal 24px/36px Noto Sans;
    color: black;
  }

  /*個人資料區塊*/  
  .title h1 {
    margin-top: 47px;
    text-align: left;
    font: normal normal normal 80px/94px Roboto;
    color: #000000;
    border-bottom: 2px solid #000000;
    padding-bottom: 15px;
  }
  .title img {
      padding-top: 48px;
      padding-bottom: 58px;
  }
  .infoTitle span, .eduTitle span, .workTitle span{
    color: #A00404;
    margin: auto auto auto 16px;
    display: inline-block;
  }
  .infoContent, .eduContent{
    text-align: left;
    font: normal normal normal 24px/36px Noto Sans;
    color: #000000;
  }
  .infoContent{
      margin-bottom: 82px;
  }
   /*刪除hr  改用border-bottom製作底線*/
  .infoTitle, .eduTitle, .workTitle {
      margin-bottom: 16px;
      border-bottom: 1px solid #000;
      padding-bottom: 15px;
  }

  .edu , .skills, .work{
      margin-bottom: 72px;
  }
  /*技能區塊*/  
  .skillTitle h2, .contactTitle h2{
      margin-left: 16px;
      font-size: 24px;
      color: #FFFFFF;
      margin-bottom: 12px;
  }
  .skillTitle span, .contactTitle span{
      font: normal normal 500 24px/28px Roboto, sans-serif;
      color: #fff;
      margin-left: 16px;
  }
  .skillLine{
    border-left: 1px solid #96a9c4;
    text-align: left;
    display: inline-block;
  }
  .skillLine li{
    line-height: 28px;
    margin-left: 24px;
    margin-bottom: 20px;
    font: normal normal 300 24px/36px Roboto, sans-serif;
    color: #ffffff;
  }
  /*工作經驗區塊*/  
  .workContent {
    margin-left: 24px;
    border-left: 1px solid #96a9c4;
  }
  .workContent h3, .workContent p, .workContent img{
    margin-left: 24px;
  }
  .bar{
    text-align: left;
    font: normal normal normal 20px/30px Noto Sans;
    color: #000000;  
  }
  .intern{
      margin: 15px 0px 8px 0px;
  }
  .intern li h3 , .intern li p{
    padding-top: 24px;
    font-size: 24px;
    text-align: left;
    font: normal normal normal 24px/36px Noto Sans;
    padding-bottom: 8px;
  }
  .intern img {
    width: 90px;
    height: 90px;
    padding-bottom: 8px;
  }
  .intern p {
    font-size: 20px;
    text-align: left;
    font: normal normal normal 20px/30px Noto Sans;
  }
  .case h3,  .coffee h3{
    font-size: 24px;
    text-align: left;
    font: normal normal normal 24px/36px Noto Sans;
    padding-top: 24px;
  }
  .coffee img {
    padding: 8px 0;
  }
  .coffee p {
    font-size: 24px;
    text-align: left;
    font: normal normal normal 24px/36px Noto Sans;
  }
  /*聯絡方式區塊*/  
  .contactContent li a{
    color: #fff;
    text-decoration: none;
  }
  .contactContent li {
    padding-bottom: 16px;
  }
  .icon li {
    display: inline-block;
    padding: 0 24px;
  }
  .icon li img {
    width: 48px;
    height: 48px;
  }
